<!-- <% Books.forEach(function(Book){ %>
  <div class="card">
    <div class="image-section">
      <img src="images/book2.jpg" alt="author" class="">
    </div>
    <div class="description">
      <h1><%= Book.title %></h1>
      <h2><%= Book.author %> </h2>
    </div>
    <div class="button-group">
      <a href="" class="cart">Add to list</a>
      <a href="" class="remove">Remove</a>
    </div>
    <div class="star-icons">
      <a href=""><i class="fas fa-star" aria-hidden="true"></i></a>
    </div>
  </div>
  <% }); %> -->