body{
    margin: 0;
    padding: 0;
}
.search-box{
    position: absolute;
    top: 5%;
    left: 45%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 47px;
    border-radius: 40px;
    padding: 10px;
}
.search-box:hover>.search-txt{
    width: 180px;
    padding: 0 6px; 
}
.search-box:hover>.search-btn{
    background: white;
    
}
.search-btn{
    color: #e84118;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0px;
}
